body{
  background-color: rgb(242, 205, 136);
}


.Ques1{
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-size: 24px ;
  background-color: rgb(255, 157, 38);
  border-radius: 3px;
}

.title{
  font-family: 'Petit Formal Script', cursive;
}

.MakeUpQ{
  margin-top: 2cm;
  border: 2px solid black;
  text-align: center;
  background-color: rgb(251, 231, 194);
  
}

.second-container{
  margin-bottom: 1cm;
}

.SurQues{
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

.answerKey{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.submitBtn{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1cm;
  font-size: 25px;
  background-color: rgb(255, 157, 38);
  border-radius: 8px;
}

.petit-script{
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
  margin-top: 2cm;
  font-size: 40px;
}