body{
  background-color: rgb(242, 205, 136);
}
.FL{
  height:23px;
    font-size:14pt;
}

.Email{
  height:23px;
    font-size:14pt;
}

.Ques1{
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-size: 24px ;
  background-color: rgb(255, 157, 38);
  border-radius: 3px;
}

.title{
  font-family: 'Petit Formal Script', cursive;
}

.MakeUpQ{
  margin-top: 2cm;
  border: 2px solid black;
  text-align: center;
  background-color: rgb(251, 231, 194);
  
}
.TY{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.completedSur{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

.second-container{
  margin-bottom: 1cm;
}

.SurQues{
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

.answerKey{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.submitBtn{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1cm;
  font-size: 25px;
  background-color: rgb(255, 157, 38);
  border-radius: 8px;
}

.petit-script{
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
  margin-top: 2cm;
  font-size: 40px;
}

.productN{
  font-weight:bold;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  padding:5px;background-color:rgb(255, 157, 38) ;

  
}

.productGroup{
  text-align: center;
}

.productB{
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace; 
}

.ProductP{
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

.ProductL{
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}
